<configuration>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
    <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
        <providers>
            <timestamp>
                <fieldName>@timestamp</fieldName>
            </timestamp>

            <loggerName>
                <fieldName>logger</fieldName>
            </loggerName>

            <threadName>
                <fieldName>thread</fieldName>
            </threadName>

            <level>
                <fieldName>level</fieldName>
            </level>

            <message/>
            <caller>
                <classFieldName>class</classFieldName>
                <methodFieldName>method</methodFieldName>
                <fileFieldName>file</fileFieldName>
                <lineFieldName>line</lineFieldName>
            </caller>
        </providers>
    </encoder>
</configuration>
